<div id="menu">    
    <div class="container">
        <div id="admin" class="children_menu">
            <div class="menu">
                <div class="logo">
                    <div class="img"><img src="./img/icons/logo.png" alt=""></div>
                </div>
                <div class="text_m">
                    <ul>
                        <li><a href="ch_cours.html">Курсы</a></li>
                        <li><a href="ch_tutorials.html">Уроки</a></li>
                        <li><a href="ch_achievement.html">Успеваемость</a></li>
                    </ul>
                </div>
                <div class="day">
                    <p>7</p><span>недель доступно</span>

                    <div class="list_day">
                        <div class="list_day_type type_green">
                            <h4>2</h4>
                            <div>
                                <p>недель</p>
                                <p class="span">Индивидуальные занятия</p>
                            </div>
                        </div>
                        <div class="list_day_type type_violet">
                            <h4>2</h4>
                            <div>
                                <p>недель</p>
                                <p class="span">Индивидуальные занятия</p>
                            </div>
                        </div>
                        <div class="list_day_type type_red">
                            <h4>3</h4>
                            <div>
                                <p>недель</p>
                                <p class="span">Индивидуальные занятия</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coloc" data-toggle="modal" data-target="#basicExampleModal">
                    <button type="button" class="btn btn-tw btn-lg">
                        <img src="./img/icons/notification.png" alt="">
                    </button>
                    <span class="counter">10</span>
                </div>
                <a href="ch_user_anketa.html">
                    <div class="user">
                        <!-- <p>в</p> -->
                        <div class="img">
                            <img src="https://www.gettyimages.com/gi-resources/images/500px/983794168.jpg" alt="">
                        </div>
                        <span>Вячеслав Шинкаренко </span>
                    </div>
                </a>
            </div>
        </div>
        <div id="admin" class="ticher_menu">
            <div class="menu">
                <div class="logo">
                    <div class="img"><img src="./img/icons/logo.png" alt=""></div>
                </div>
                <div class="text_m">
                    <ul>
                        <li><a href="ch_cours.html">Курсы</a></li>
                        <li><a href="ch_tutorials.html">Класы</a></li>
                        <li><a href="ch_achievement.html">Уроки</a></li>
                        <li><a href="ch_tutorials.html">Работы </a></li>
                        <li><a href="ch_achievement.html">Задания</a></li>
                        <li><a href="ch_achievement.html">Расписание</a></li>
                    </ul>
                </div>
                <!--
                                    <div class="day">
                                        <p>7</p><span>недель доступно</span>
                                    </div>
                -->
                <div class="coloc" data-toggle="modal" data-target="#basicExampleModal">
                    <button type="button" class="btn btn-tw btn-lg">
                        <img src="./img/icons/notification.png" alt="">
                    </button>
                    <span class="counter">10</span>
                </div>
                <a href="ch_user_anketa.html">
                    <div class="user">
                        <p>в</p><span>Вячеслав Шинкаренко </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="menu" class="modal_menu">
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="container" style="height: 0 !important;width: auto !important;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Уведомления</h5>
                    </div>
                    <div class="modal-body">
                        <div class="list">
                            <p>Вам доступен новый урок <span>2 часа назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                        <div class="line"></div>
                        <div class="list">
                            <p>Урок перенесён <span>10 часа назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                        <div class="line"></div>
                        <div class="list">
                            <p>У Вас новый учитель <span>20 часа назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                        <div class="line"></div>
                        <div class="list">
                            <p>Урок начнется через 22 часа <span>20 часа назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                        <div class="line"></div>
                        <div class="list">
                            <p>Урок начаслся поспешите!<span>1 день назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                        <div class="line"></div>
                        <div class="list">
                            <p>Выполните домашнее задание! <span>2 день назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                        <div class="line"></div>
                        <div class="list">
                            <p>Урок отменён <span>14 дней назад</span></p>
                            <a href="#">iqland.com/lessons /new_lesson</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
