<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="ch_tutorial">
    <div class="container">
        <div class="tutorial tutorial_v2">
            <div class="text text_main">
                <div class="text_pos">
                    <h2>Уроки</h2>
                    <p>Перечень доступных уроков</p>
                </div>
                <div class="text_select">
                    <!-- <select class="mdb-select colorful-select dropdown-primary">
                        <option value="1"><div><a href="./regis.html">1234</a></div></option>
                        <option value="2"><a href="./regis.html">123</a></option>
                        <option value="3"><a href="./regis.html">123</a></option>
                        <option value="4"><a href="./regis.html">123</a></option>
                        <option value="5"><a href="./regis.html">123</a></option>
                        <i class="fa fa-angle-down"></i>
                    </select> -->
                    <div class="select_custom">
                        <p>test</p>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="colc colc_v2">
                    <div class="data">
                        <div class="number">
                            <h3>14</h3>
                            <div>
                                <p>среда</p>
                                <span>мая 2018</span>
                            </div>
                        </div>
                        <p>10:00 - 11:00</p>
                    </div>
                    <div class="text">
                        <div class="pos_1">
                            <div class="text_left">
                                <p>Основы ментальной арифметики для детей</p>
                                <span>Краткое описание что будет проходить на уроке</span>
                            </div>
                            <div class="button_group">
                                <div class="button_grey">
                                    <p>Пройден</p>
                                </div>
                                <div class="button_green">
                                    <p>Идёт прямо сейчас</p>
                                </div>
                            </div>
                        </div>
                        <div class="pos_2">
                            <div class="button_blue">
                                <a href="#">Присоединиться</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pos_4">
                    <div class="text">
                        <p>Домашняя работа №3</p> <span>Новое</span>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales" data-percent="0"><span class="percent"></span></span></p>
                    </div>
                </div>

                <div class="pos_4">
                    <div class="text">
                        <p>Домашняя работа №3</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales" data-percent="95"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="pos_4">
                    <div class="text">
                        <p>Домашняя работа №2</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_yellow" data-percent="45"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="pos_4">
                    <div class="text">
                        <p>Домашняя работа №1</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_red" data-percent="65"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="pos_4">
                    <div class="text">
                        <p>Классная работа</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_yellow" data-percent="23"><span class="percent"></span></span></p>
                    </div>
                </div>
            </div>

            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                            aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Предстоящие уроки<i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                            <div class="card">
                                <div class="colc colc_v2">
                                    <div class="data">
                                        <div class="number">
                                            <h3>14</h3>
                                            <div>
                                                <p>среда</p>
                                                <span>мая 2018</span>
                                            </div>
                                        </div>
                                        <p>10:00 - 11:00</p>
                                    </div>
                                    <div class="text">
                                        <div class="pos_1">
                                            <div class="text_left">
                                                <p>Основы ментальной арифметики для детей</p>
                                                <span>Краткое описание что будет проходить на уроке</span>
                                            </div>
                                            <div class="button_green">
                                                <p>Идёт прямо сейчас</p>
                                            </div>
                                        </div>
                                        <div class="pos_2">
                                            <div class="button_blue">
                                                <a href="#">Присоединиться</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pos_4">
                                    <div class="text">
                                        <p>Экзамен</p> <span>Новое</span>
                                    </div>
                                    <div class="diogram">
                                        <p><span class="min-chart" id="chart-sales" data-percent="0"><span class="percent"></span></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
            </div>


            <div class="accordion md-accordion" id="accordionEx_1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne2">
                        <a data-toggle="collapse" data-parent="#accordionEx_1" href="#collapseOne2" aria-expanded="true"
                            aria-controls="collapseOne2">
                            <h5 class="mb-0">
                                Прошедшие уроки<i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne2" data-parent="#accordionEx_1">
                        <div class="card-body">
                            <div class="card ">
                                <div class="colc colc_v2 c_red">
                                    <div class="data">
                                        <div class="number">
                                            <h3>03</h3>
                                            <div>
                                                <p>среда</p>
                                                <span>мая 2018</span>
                                            </div>
                                        </div>
                                        <p>10:00 - 11:00</p>
                                    </div>
                                    <div class="text">
                                        <div class="pos_1">
                                            <div class="text_left">
                                                <p>Основы ментальной арифметики для детей</p>
                                                <span>Краткое описание что будет проходить на уроке</span>
                                            </div>
                                            <!--
                                                        <div class="button_green">
                                                            <p>Идёт прямо сейчас</p>
                                                        </div>
                            -->
                                        </div>
                                        <div class="pos_2">
                                            <div class="button_blue">
                                                <a href="#">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="colc colc_v2 c_green">
                                    <div class="data">
                                        <div class="number">
                                            <h3>03</h3>
                                            <div>
                                                <p>среда</p>
                                                <span>мая 2018</span>
                                            </div>
                                        </div>
                                        <p>10:00 - 11:00</p>
                                    </div>
                                    <div class="text">
                                        <div class="pos_1">
                                            <div class="text_left">
                                                <p>Основы ментальной арифметики для детей</p>
                                                <span>Краткое описание что будет проходить на уроке</span>
                                            </div>
                                            <div class="button_red_v2">
                                                <p>Не оплаченый доступ</p>
                                            </div>
                                        </div>
                                        <div class="pos_2">
                                            <div class="button_blue">
                                                <a href="#">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card ">
                                <div class="colc colc_v2 c_green">
                                    <div class="data">
                                        <div class="number">
                                            <h3>03</h3>
                                            <div>
                                                <p>среда</p>
                                                <span>мая 2018</span>
                                            </div>
                                        </div>
                                        <p>10:00 - 11:00</p>
                                    </div>
                                    <div class="text">
                                        <div class="pos_1">
                                            <div class="text_left">
                                                <p>Основы ментальной арифметики для детей</p>
                                                <span>Краткое описание что будет проходить на уроке</span>
                                            </div>
                                            <div class="button_red_v2">
                                                <p>Вы пропустили урок</p>
                                            </div>
                                        </div>
                                        <div class="pos_2">
                                            <div class="button_blue" data-toggle="modal" data-target="#basicExampleModal_1">
                                                <a>Доп. урок</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
            </div>
        </div>
    </div>
</div>

<div class="modaling">
    <div class="container">
        <div class="modal fade" id="basicExampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_1"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel_1">Оставить заявку на доп. урок</h5>
                    </div>
                    <div class="modal-body">
                        <div class="time">
                            <div class="text">
                                <p>Время</p>
                            </div>
                            <div class="input">
                                <div class="input_cop_1">
                                    <p>c </p>
                                    <div class="md-form">
                                        <input placeholder="9:00" type="text" id="input_starttime" class="form-control timepicker">
                                    </div>
                                </div>
                                <div class="input_cop_1">
                                    <p>до </p>
                                    <div class="md-form">
                                        <input placeholder="22:00" type="text" id="input_starttime_1" class="form-control timepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time date_top">
                            <div class="text">
                                <p>Дата</p>
                            </div>

                            <div class="input_cop_1 date">
                                <div class="md-form">
                                    <input placeholder="Дата:" type="text" id="date-picker-example" class="form-control datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="button_blue" data-toggle="modal" data-target="#basicExampleModal_1">
                            <a>Оставить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
