<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="ch_anketa">
    <div class="container">
        <div class="anketa">
            <div class="text">
                <p>Анкета</p>
                <span>Для определения уровня ученика</span>
            </div>
            <div class="card">
                <div class="level">
                    <select class="mdb-select colorful-select dropdown-primary">
                        <option value="1">Уровень 1</option>
                        <option value="2">Уровень 2</option>
                        <option value="3">Уровень 3</option>
                        <option value="4">Уровень 4</option>
                        <option value="5">Уровень 5</option>
                        <option value="6">Уровень 6</option>
                        <option value="7">Уровень 7</option>
                        <option value="8">Уровень 8</option>
                        <i class="fa fa-angle-down"></i>
                    </select>

                    <p>Выберите Ваш уровень</p>
                    <div class="button_blue">
                        <a href="#">Сохранить</a>
                    </div>
                </div>
                <div class="info">
                    <div class="pos">
                        <h2>Для 1 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>однозначные числа простые ситуации (4+5-6+1)</li>
                            <li>двузначные числа (одинаковые цифры) простые ситуации (44+55-66+11)</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>Двузначные числа (разные цифры) сложные ситуации (по составу 5) (54+13-34+56)</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 2 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>двузначные числа (одинаковые цифры) сложные ситуации (по составу 5) (55-22+44-22)</li>
                            <li>двузначные числа (разные цифры) простые ситуации (53+26-64+83)</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>Двузначные числа (разные цифры) сложные ситуации (по составу 5) (54+13-34+56)</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 3 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>двузначные числа (разные цифры) сложные ситуации (по составу 5) (54+13-34+56)</li>
                            <li>однозначные числа сложные ситуации (по составу 10) (4+8-3+1)</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>Двузначные+однозначные числа (разные цифры) сложные ситуации (по составу 10 и по
                                составу 5) (101-6+63-9)</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 4 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>двузначные числа (разные цифры) сложные ситуации (по составу 5) (54+13-34+56)</li>
                            <li>однозначные числа (все)</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>трехзначные числа (все)</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 5 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>трехзначные числа (все)</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>трехзначные числа (все)</li>
                            <li>умножение двузначного чиCла на однозачное число</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 6 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>трехзначные числа (все)</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>четырехзначные числа (все)</li>
                            <li>умножение трехзначного чиCла на однозачное число</li>
                            <li>деление трехзначного чиCла на однозачное число</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 7 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>трехзначные числа (все)</li>
                            <li>умножение трехзначного числа на однозачное число</li>
                            <li>деление трехзначного числа на однозачное число</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>четырехзначные числа (все)</li>
                            <li>1умножение двухзначного числа на двузначное число</li>
                            <li>деление трехзначного числа на двузначное число</li>
                        </ul>
                    </div>

                    <div class="pos">
                        <h2>Для 8 уровня:</h2>

                        <p>Владение навыком ментального счета:</p>
                        <ul>
                            <li>трехзначные числа (все)</li>
                            <li>умножение двухзначного числа на двузначное число</li>
                            <li>деление трехзначного числа на двузначное число</li>
                        </ul>
                        <p>Владение навыком счета на абакусе:</p>
                        <ul>
                            <li>четырехзначные числа + трехзначные + двузначные + однозначные</li>
                            <li>умножение трехзначного числа на двузначное число</li>
                            <li>деление четырехзначного числа на двузначное число</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });
</script>

<%= _.template(require('./../includes/footer.html'))(data) %>
