<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="ch_cours">
    <div class="container">
        <div class="course">
            <div class="text_head">
                <div class="text">
                    <p>Курсы</p>
                    <span>Перечень доступных курсов</span>
                </div>
                <div class="input">
                    <div class="inp_1">
                        <select class="mdb-select colorful-select dropdown-primary">
                            <option value="1">Тип 1</option>
                            <option value="2">Тип 2</option>
                            <option value="3">Тип 3</option>
                            <option value="4">Тип 4</option>
                            <option value="5">Тип 5</option>
                            <i class="fa fa-angle-down"></i>
                        </select>
                    </div>
                    <div class="inp_2">
                        <select class="mdb-select colorful-select dropdown-primary">
                            <option value="1">Уровень 1</option>
                            <option value="2">Уровень 2</option>
                            <option value="3">Уровень 3</option>
                            <option value="4">Уровень 4</option>
                            <option value="5">Уровень 5</option>
                            <i class="fa fa-angle-down"></i>
                        </select>
                    </div>
                </div>
            </div>
            <div class="list_card">
                <div class="card">
                    <div class="text" style="background: #00df9a">
                        <p>Курс “Уровень 1”</p>
                        <span>Индивидуальные занятия</span>
                    </div>
                    <div class="list_work">
                        <p>Недель обучения:</p><span>10</span>
                        <p>Дата начала:</p><span>27 июня 2018</span>
                        <p>График учебы:</p><span>каждый вторникс 12:00 до 14:00</span>
                        <p>Мест свободно:</p><span>2 из 3</span>

                    </div>
                    <div class="setup">
                        <div class="text">
                            <p>Стоимость курса:</p><span>20 000 ₸</span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="text" style="background: #7e80e5">
                        <p>Курс “Уровень 1”</p>
                        <span>Индивидуальные занятия</span>
                    </div>
                    <div class="list_work">
                        <p>Недель обучения:</p><span>10</span>
                        <p>Дата начала:</p><span>27 июня 2018</span>
                        <p>График учебы:</p><span>каждый вторникс 12:00 до 14:00</span>
                        <p>Мест свободно:</p><span>2 из 3</span>

                    </div>
                    <div class="setup">
                        <div class="text">
                            <p>Стоимость курса:</p><span>20 000 ₸</span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="text" style="background: #d0544d">
                        <p>Курс “Уровень 1”</p>
                        <span>Индивидуальные занятия</span>
                    </div>
                    <div class="list_work">
                        <p>Недель обучения:</p><span>10</span>
                        <p>Дата начала:</p><span>27 июня 2018</span>
                        <p>График учебы:</p><span>каждый вторникс 12:00 до 14:00</span>
                        <p>Мест свободно:</p><span>2 из 3</span>
                    </div>
                    <div class="setup">
                        <div class="text">
                            <p>Стоимость курса:</p><span>20 000 ₸</span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="text" style="background: #00df9a">
                        <p>Курс “Уровень 1”</p>
                        <span>Индивидуальные занятия</span>
                    </div>
                    <div class="list_work">
                        <p>Недель обучения:</p><span>10</span>
                        <p>Дата начала:</p><span>27 июня 2018</span>
                        <p>График учебы:</p><span>каждый вторникс 12:00 до 14:00</span>
                        <p>Мест свободно:</p><span>2 из 3</span>

                    </div>
                    <div class="setup">
                        <div class="text">
                            <p>Стоимость курса:</p><span>20 000 ₸</span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="text" style="background: #7e80e5">
                        <p>Курс “Уровень 1”</p>
                        <span>Индивидуальные занятия</span>
                    </div>
                    <div class="list_work">
                        <p>Недель обучения:</p><span>10</span>
                        <p>Дата начала:</p><span>27 июня 2018</span>
                        <p>График учебы:</p><span>каждый вторникс 12:00 до 14:00</span>
                        <p>Мест свободно:</p><span>2 из 3</span>

                    </div>
                    <div class="setup">
                        <div class="text">
                            <p>Стоимость курса:</p><span>20 000 ₸</span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="text" style="background: #d0544d">
                        <p>Курс “Уровень 1”</p>
                        <span>Индивидуальные занятия</span>
                    </div>
                    <div class="list_work">
                        <p>Недель обучения:</p><span>10</span>
                        <p>Дата начала:</p><span>27 июня 2018</span>
                        <p>График учебы:</p><span>каждый вторникс 12:00 до 14:00</span>
                        <p>Мест свободно:</p><span>2 из 3</span>

                    </div>
                    <div class="setup">
                        <div class="text">
                            <p>Стоимость курса:</p><span>20 000 ₸</span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">

                <nav aria-label="pagination example">
                    <ul class="pagination pagination-circle pg-blue mb-0">

                        <!--Arrow left-->
                        <li class="page-item disabled left">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                            </a>
                        </li>

                        <!--Numbers-->
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">4</a></li>
                        <li class="page-item"><a class="page-link">5</a></li>

                        <!--Arrow right-->
                        <li class="page-item right">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });
</script>

<%= _.template(require('./../includes/footer.html'))(data) %>
