<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
  }; %>
  <%= _.template(require('./../includes/header.html'))(data) %>
  <%= _.template(require('./../includes/menu.html'))(data) %>
  
  <div id="ch_tutorial">
      <div class="container">
          <div class="tutorial">
              <div class="text">
                  <p>Уроки>Классная работа > <span>Флеш-Карты</span></p>
                  <h2>Урок 1</h2>
              </div>
              <div class="card">
                  <div class="colc">
                      <div class="data">
                          <div class="number">
                              <h3>14</h3>
                              <div>
                                  <p>среда</p>
                                  <span>мая 2018</span>
                              </div>
                          </div>
                          <p>10:00 - 11:00</p>
                      </div>
                      <div class="text">
                          <div class="pos_1">
                              <div class="button_green">
                                  <p>Идёт прямо сейчас</p>
                              </div>
                              <p>Основы ментальной арифметики для детей</p>
                              <span>Любые задатки, которые генетически заложены в маленьком человеке, благодаря этому
                                  обучению, получают активное развитие. Ментальная арифметика берёт своё начало в древней
                                  Японии, где уже тогда с помощью абакуса, специальных счётов, дети могли улучшать свою
                                  память, производить в уме сложные расчёты, тренировать внимание и концентрацию.</span>
                          </div>
                          <div class="pos_2">
                              <div class="button_blue">
                                  <a href="#">Присоединиться</a>
                              </div>
                              <p>Переход на страницу трансляции</p>
                          </div>
                      </div>
                  </div>
                  <div class="tich">
                      <div class="post">
                          <p>Учитель</p>
                      </div>
                      <div class="user">
                          <div class="img">
                              <img src="./img/girl.png" alt="">
                          </div>
                          <div class="text">
                              <p>Мария Сокол</p>
                              <span>Инструктор по ментальной арифметике</span>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="center_p">
                  <p>Классная работа</p>
              </div>
  
              <div class="card_1 card">
                  <div class="pos_1">
                      <div class="text">
                          <p>Примеры на абакусе</p>
                      </div>
                      <div class="diogram">
                          <p><span class="min-chart" id="chart-sales" data-percent="95"><span class="percent"></span></span></p>
                      </div>
                  </div>
                  <div class="pos_2">
                      <div class="text">
                          <p>Флеш-Карты</p>
                      </div>
                      <div class="time">
                          <p>30:56</p>
                          <span>минут</span>
                      </div>
                  </div>
                  <div class="pos_3">
                      <div class="text">
                          <p>Дайте ответ на вопрос</p>
                      </div>
                      <div class="otvet">
                          <div class="img">
                              <div class="img_c">
                                  <span>1.</span>
                                  <img src="./img/icons/otvet.png" alt="">
                              </div>
                              <div class="button">
                                  <p>Ваш ответ</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="button">
                      <div class="button_white">
                          <p>Назад</p>
                      </div>
                      <div class="button_blue">
                          <p>Далее</p>
                      </div>
                  </div>
                  <div class="pos_4">
                      <div class="text">
                          <p>Счет в слух</p>
                      </div>
                      <div class="diogram">
                          <span class="min-chart" id="chart-sales" data-percent="85"><span class="percent"></span></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <%= _.template(require('./../includes/footer.html'))(data) %>
  