<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
  }; %>
  <%= _.template(require('./../includes/header.html'))(data) %>
  <%= _.template(require('./../includes/menu.html'))(data) %>
  
  <div id="ch_user_anketa">
      <div class="container">
          <div class="user_anketa">
              <div class="text">
                  <p>Мой профиль</p>
                  <!-- <span>Для продолжения роботы заполните все поля</span> -->
              </div>
              <form action="#" method="post">
                  <div class="card">
                      <div class="info">
                          <div class="user">
                              <div class="text">
                                  <!-- <p>Общая информация</p> -->
                              </div>
                              <div class="photo">
                                  <div class="img">
                                      <!-- <p>B</p> -->
                                      <img src="https://www.gettyimages.com/gi-resources/images/500px/983794168.jpg" alt="">
                                  </div>
                                  <div class="file">
                                      <input type="file" id="user_img">
                                      <p id="img_name">Изменить фото</p>
                                  </div>                                  
                              </div>
                              <div class="button_white">
                                <a href="./ch_payment.html">Купить курсы</a>
                            </div>
                          </div>
                          <div class="user_input">
                              <div class="pos_1 pos_2">
                                <div>
                                    <p>Фамилия</p>
                                    <input type="text" placeholder="Фамилия">
                                </div>
                                <div>
                                    <p>Имя</p>
                                    <input type="text" placeholder="Имя" required>
                                </div>
                                <div>
                                    <p>Отчество</p>
                                    <input type="text" placeholder="Отчество">
                                </div>
                                  
                              </div>
                              <div class="pos_2">
                                  <div>
                                      <p>Телефон</p>
                                      <input class="phone" id="phone_2" type="text" placeholder="Телефон" required>
                                  </div>
                                  <div>
                                      <p>Email</p>
                                      <input type="email" placeholder="Email" required>
                                  </div>
                                  <div>
                                      <p>Страна</p>
                                      <select class="mdb-select colorful-select dropdown-primary">
                                          <option value="1">Казахстан</option>
                                          <option value="2">Россия</option>
                                          <option value="3">США</option>
                                          <option value="4">Туркия</option>
                                          <option value="5">Германия</option>
                                          <i class="fa fa-angle-down"></i>
                                      </select>
  
                                  </div>
                              </div>
                              <div class="pos_3">
                                  <p>Дата рождения</p>
                                  <div class="input">
                                      <select class="mdb-select colorful-select dropdown-primary">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="1">6</option>
                                          <option value="2">7</option>
                                          <option value="3">8</option>
                                          <option value="4">9</option>
                                          <option value="5">10</option>
                                          <option value="1">11</option>
                                          <option value="2">12</option>
                                          <option value="3">13</option>
                                          <option value="4">14</option>
                                          <option value="5">15</option>
                                          <option value="1">16</option>
                                          <option value="2">17</option>
                                          <option value="3">18</option>
                                          <option value="4">19</option>
                                          <option value="5">20</option>
                                          <option value="1">21</option>
                                          <option value="2">22</option>
                                          <option value="3">23</option>
                                          <option value="4">24</option>
                                          <option value="5">25</option>
                                          <option value="1">26</option>
                                          <option value="2">27</option>
                                          <option value="3">28</option>
                                          <option value="4">29</option>
                                          <option value="5">30</option>
                                          <option value="5">31</option>
                                          <i class="fa fa-angle-down"></i>
                                      </select>
                                      <select class="mdb-select colorful-select dropdown-primary">
                                          <option value="1">Январь</option>
                                          <option value="2">Февраль</option>
                                          <option value="3">Март</option>
                                          <option value="4">Апрель</option>
                                          <option value="5">Май</option>
                                          <option value="6">Июнь</option>
                                          <option value="7">Июль</option>
                                          <option value="8">Август</option>
                                          <option value="9">Сентябрь</option>
                                          <option value="10">Сентябрь</option>
                                          <option value="11">Ноябрь</option>
                                          <option value="12">Декабрь</option>
                                          <i class="fa fa-angle-down"></i>
                                      </select>
                                      <select class="mdb-select colorful-select dropdown-primary">
                                          <option value="1">2014</option>
                                          <option value="2">2015</option>
                                          <option value="3">2016</option>
                                          <option value="4">2017</option>
                                          <option value="5">2018</option>
                                          <i class="fa fa-angle-down"></i>
                                      </select>
                                  </div>
                              </div>
                              <div class="pos_5">
                                  <p>Данные родителей</p>
                                  <div class="input">
                                      <input type="text" placeholder="Фамилия">
                                      <input type="text" placeholder="Имя">
                                      <input type="text" placeholder="Отчество">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="button_group">                          
                          <button class="button_blue" type="submit">Сохранить</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  
  <%= _.template(require('./../includes/footer.html'))(data) %>
  