<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>



  <div class="alert_c alert_success">
    <p>okey</p>
  </div>
  <!-- <div class="alert_c alert_error">
    <p>okey</p>
  </div> -->

  <div class="regis">
    <div class="container">
      <div class="row">
          <div class="col-md-5 regis_block">
            <div class="tabs">
              <a href="./regis.html" class="tabs_a active">Регистрация</a>
              <a href="./authorization.html" class="tabs_a">Вход</a>
            </div>
            <form action="" method="post">
              <div class="block_input">
                <div class="form_input success_input">
                  <i class="fa fa-check"></i>
                  <i class="fa fa-times"></i>
                  <input type="text" name="" id="" placeholder="Имя" required>
                  <p>Ошибка ввода</p>
                </div>
                <div class="form_input">
                  <i class="fa fa-check"></i>
                  <i class="fa fa-times"></i>
                  <input type="email" name="" id="" placeholder="Email" required>
                  <p>Ошибка ввода</p>
                </div>
                <div class="form_input error_input">
                  <i class="fa fa-check"></i>
                  <i class="fa fa-times"></i>
                  <input class="error_input" type="password" name="" id="" placeholder="Пароль" required>
                  <p>Ошибка ввода</p>
                </div>
                <button type="submit" class="button_blue">Зарегистрироваться</button>
              </div>              
            </form>
              <div class="block_social">
                <p>Использовать свой социальный аккаунт</p>
                <div class="dbl_button">
                  <a href="#" class="button_google"><i class="fa fa-google-plus"></i>Google</a>
                  <a href="#" class="button_facebook"><i class="fa fa-facebook"></i>Facebook</a>                  
                </div>
              </div>
          </div>          
      </div>      
    </div>
  </div>

<%= _.template(require('./../includes/footer.html'))(data) %>
