<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
  }; %>
  <%= _.template(require('./../includes/header.html'))(data) %>
  <%= _.template(require('./../includes/menu.html'))(data) %>
  
    <div class="regis">
      <div class="container">
        <div class="row">
            <div class="col-md-5 regis_block author_block">
              <div class="tabs">
                <p>Восстановление пароля</p>
              </div>
              <form action="" method="post">
                <div class="block_input">
                  <div class="form_input success_input">
                    <i class="fa fa-check"></i>
                    <i class="fa fa-times"></i>
                    <input type="password" name="" id="" placeholder="Новый пароль">
                    <p>Ошибка ввода</p>
                  </div>
                  <div class="form_input error_input">
                    <i class="fa fa-check"></i>
                    <i class="fa fa-times"></i>
                    <input type="password" name="" id="" placeholder="Подтвердить пароль">
                    <p>Ошибка ввода</p>
                  </div>
                  <p>Ваш новый пароль должен отличатся
                      от предыдущего</p>
                  <button type="submit" class="button_blue">Восстановить</button>
                </div>              
              </form>              
            </div>          
        </div>      
      </div>
    </div>
  
  <%= _.template(require('./../includes/footer.html'))(data) %>
  