<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
  }; %>
  <%= _.template(require('./../includes/header.html'))(data) %>
  <%= _.template(require('./../includes/menu.html'))(data) %>
  
    <div class="regis">
      <div class="container">
        <div class="row">
            <div class="col-md-5 regis_block author_block">
              <div class="tabs">
                <p>Восстановление пароля</p>
              </div>
              <form action="" method="post">
                <div class="block_input">
                  <div class="form_input success_input">
                    <i class="fa fa-check"></i>
                    <i class="fa fa-times"></i>
                    <input type="text" name="" id="" value="iqland@gmail.com" placeholder="Ваш email">
                    <p>Ошибка ввода</p>
                  </div>                  
                  <p>Пройдите по ссылке, указанной в письме,
                  для сброса вашего пароля.</p>
                </div>              
              </form>              
            </div>          
        </div>      
      </div>
    </div>
  
  <%= _.template(require('./../includes/footer.html'))(data) %>
  