<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>


<div class="history">
    <div class="container">
        <div class="main_text">
            <p>История покупок</p>
            <p class="span">Подробная история покупок всех уроков</p>
        </div>
        <div class="table_card">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Тип групы</th>
                    <th scope="col">Кол-во недель</th>
                    <th scope="col color_blue">Сумма платежа <i class="fa fa-angle-down"></i></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">22.05.2018</th>
                        <td>Индивидуальные занятия</td>
                        <td>7</td>
                        <td>10 999 т.</td>
                    </tr>
                    <tr class="active">
                        <th scope="row">22.05.2018</th>
                        <td>Индивидуальные занятия</td>
                        <td>7</td>
                        <td>10 999 т.</td>
                    </tr>
                    <tr>
                        <th scope="row">22.05.2018</th>
                        <td>Индивидуальные занятия</td>
                        <td>7</td>
                        <td>10 999 т.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html'))(data) %>
