<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>


<div class="certificate">
    <div class="container">
        <div class="certificate_block">
            <div class="main_text">
                <p>Сертефикаты</p>
            </div>
            <div class="certificate_block_flex">
                <div class="sertificate_card">
                    <div class="img">
                        <img src="./img/icons/award.png" alt="">
                    </div>
                    <p>Уровень 1</p>
                </div>
                <div class="sertificate_card">
                    <div class="img">
                        <img src="./img/icons/award.png" alt="">
                    </div>
                    <p>Уровень 2</p>
                </div>
                <div class="sertificate_card">
                    <div class="img">
                        <img src="./img/icons/award.png" alt="">
                    </div>
                    <p>Уровень 3</p>
                </div>
                <div class="sertificate_card">
                    <div class="img">
                        <img src="./img/icons/award.png" alt="">
                    </div>
                    <p>Уровень 4</p>
                </div>
                <div class="sertificate_card">
                    <div class="img">
                        <img src="./img/icons/award.png" alt="">
                    </div>
                    <p>Уровень 5</p>
                </div>
                <div class="sertificate_card">
                    <div class="img">
                        <img src="./img/icons/award.png" alt="">
                    </div>
                    <p>Уровень 6</p>
                </div>
                <div class="sertificate_card not_level">                    
                    <p>Уровень 7</p>
                    <p class="span">
                        Будет доступен
                        по звершении всех
                        уроков уровня
                    </p>
                </div>
                <div class="sertificate_card not_level">                    
                    <p>Уровень 8</p>
                    <p class="span">
                        Будет доступен
                        по звершении всех
                        уроков уровня
                    </p>
                </div>
                <div class="sertificate_card not_level">                    
                    <p>Уровень 9</p>
                    <p class="span">
                        Будет доступен
                        по звершении всех
                        уроков уровня
                    </p>
                </div>
                <div class="sertificate_card not_level">                    
                    <p>Уровень 10</p>
                    <p class="span">
                        Будет доступен
                        по звершении всех
                        уроков уровня
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html'))(data) %>
