<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>


<div class="modal_form_block">
    <form action="#" method="post">
        <p>Создание тикета</p>
        <p class="span">Тема</p>
        <input type="text" name="#" id="" placeholder="Email">
        
        <p class="span">Категория</p>
        <input type="text" name="#" id="" placeholder="Выбрать категорию">
        
        <p class="span">Сообщение</p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Написать сообщение"></textarea>

        <div class="dbl_button">
            <button type="submit" class="button_blue">Создать</button>
            <button type="submit" class="button_white">Отмена</button>
        </div>
    </form>
    <div class="modal_close"></div>
</div>

<div class="tickets">
    <div class="container">
        <div class="ticket_flex">
            <div class="text">
                <p>Тикеты</p>
                <p class="span">Перечень тикетов</p>
            </div>
            <div class="button_blue open_modal" >
                <a href="#" >Создать тикет</a>
            </div>
        </div>
        <div class="ticket_block">
            <div class="ticket_card">
                <div class="data_block">
                    <p>14 мая 2018</p>
                    <p class="span">№3488363273</p>
                    <a href="#">Доп.  урок</a>
                </div>
                <div class="info_block">
                    <p>Указаная тема</p>
                    <p class="span">Здравствуйте. Прошу предоставить дополнительный урок по указаной теме на 23.08. Спасибо.</p>
                </div>
                <div class="button_block">
                    <div class="alert_green">
                        <p>Ответ получен</p>
                    </div>
                    <div class="button_red">
                        <a href="#">Закрыть</a>
                    </div>
                </div>
            </div>
            <div class="ticket_card_comment admin">
                <div class="user">
                    <div class="img">
                        <img src="./img/girl.png" alt="">
                    </div>
                    <p class="status">Администратор</p>
                    <p>Вчера</p>
                </div>
                <div class="comment_block">
                    <p>Здравствуйте. Дополнительный урок будет поведен  23.08. Оповещенияе прийдет на почту.</p>
                </div>
            </div>
            <div class="ticket_card_comment">
                <div class="user">
                    <div class="img">
                        <img src="./img/girl.png" alt="">
                    </div>
                    <p class="status">Вячеслав Шинкаренко</p>
                    <p>Вчера</p>
                </div>
                <div class="comment_block">
                    <p>Спасибо</p>
                </div>
            </div>
        </div>
        <div class="cimment_input__block">
            <div class="top">
                <p>Отправить сообщение</p>
            </div>
            <form action="#">
                <textarea name="#" id="" cols="30" rows="10" placeholder="Написать сообщение ..."></textarea>
                <button type="submit" class="button_blue">Отправить</button>
            </form>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
