table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    display: none;
}
.button_blue {
    &.grey {
        background-color: #acacac;
        border: 2px solid #acacac;

        &:hover {
            border: 2px solid #acacac !important;
            background-color: #fff !important;
            transition: all .3s;
            color: #acacac !important;
            cursor: pointer;

            a {
                color: #acacac !important;
            }

            p {
                color: #acacac !important;
            }
        }
    }

    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    border-radius: 23px;
    background-color: #00aeef;
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #00aeef;
    transition: all .3s;

    &:hover {
        border: 2px solid #00aeef;
        background-color: #fff;
        transition: all .3s;
        color: #00aeef !important;
        cursor: pointer;

        a {
            color: #00aeef !important;
        }

        p {
            color: #00aeef !important;
        }
    }
}

.global_text {
    margin-top: 40px;
    margin-bottom: 30px;

    p {
        color: #000000;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        margin: 0;
    }

    span {
        color: #858585;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }

    h3 {
        color: #858585;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;

        span {
            color: #000000;
        }
    }
}

.button_red {
    width: 180px;
    border-radius: 30px;
    background-color: #df405b;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #df405b;
    transition: all .4s;

    &:hover {
        background: #fff;
        border: 2px solid #df405b;
        transition: all .3s;
        cursor: pointer;

        a {
            color: #df405b !important;
        }

        i {
            color: #df405b !important;
        }
    }

    a {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
    }
}

.line_blue {
    height: 1px;
    background-color: #00aeef;
    width: 95%;
    margin: 0 30px;
}

.block {
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;

    p {
        margin: 0;
        color: #000000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
    }
}


#add_tutorial {
    .tutorial {
        .text {
            margin-top: 40px;
            margin-bottom: 30px;

            p {
                color: #858585;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 5px;

                span {
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    color: #000000;
                }
            }

            h3 {
                color: #000000;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
            }
        }

        .card {
            .ok_teacher {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                .mdb-select {
                    width: 250px;
                }
            }
        }
    }
}

#admin_tutorial {
    padding-bottom: 100px;

    .tutorial {
        #ch_tutorial {
            display: grid;
            grid-gap: 30px;
        }

        .text {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 30px;

            .var_1 {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 30px;
                    font-weight: 500;
                    margin: 0;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .select {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                grid-gap: 20px;

                .button_white {
                    margin: 0;
                }
            }
        }


        .card {
            .c_green {
                .data {
                    h4 {
                        color: #20ac5d;
                    }
                }
            }

            .data {
                h4 {
                    color: #4a4de2;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                }
            }

            .text {
                .pos_2 {
                    display: grid;
                    align-items: flex-start;
                    grid-gap: 20px;

                    i {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }

            .working {
                padding: 30px;
                padding-bottom: 0;

                .text_1 {
                    p {
                        color: #3a3939;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .mdb-select {
                    width: 230px;
                    margin-top: 35px;
                }

                .block {
                    padding: 30px 0;
                    border-bottom: 1px solid #e8e8e8;

                    p {
                        margin: 0;
                    }
                }

                .line_blue {
                    margin-top: 0;
                }

                .dbl_button {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 40%;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                    margin: 40px 0;

                    .button_blue {
                        margin: 0;

                        a {
                            color: #fff;
                        }
                    }

                    .button_white {
                        margin: 0;
                    }
                }
            }

            .block {
                padding: 30px;

                .plus {
                    cursor: pointer;

                    p {
                        height: 45px;
                        border-radius: 23px;
                        border: 1px solid #e8e8e8;
                        width: 230px;
                        display: flex;
                        align-items: center;
                        padding-left: 20px;
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;

                        i {
                            color: #20ac5d;
                            border: 1px solid #20ac5d;
                            border-radius: 30px;
                            font-size: 10px;
                            width: 20px;
                            height: 20px;
                            align-items: center;
                            justify-content: center;
                            display: grid;
                            margin-right: 15px;
                        }
                    }
                }
            }

            .pos_2 {
                &.opacity {
                    opacity: 0.5;
                }
            }
        }
    }
}

#new_cours {
    padding-bottom: 100px;

    .cours {
        .text {
            margin-top: 40px;
            margin-bottom: 30px;

            p {
                color: #858585;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 15px;

                span {
                    color: #000000;
                }
            }

            h3 {
                color: #000000;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
            }
        }

        .card {
            padding: 30px;
            display: grid;
            grid-gap: 30px;

            .text {
                margin: 0;

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    margin-bottom: 5px;
                }

                span {
                    color: #606060;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 26px;
                }
            }

            .tarif_s {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .data {

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                .md-form {
                    position: relative;
                    margin: 20px 0;
                    width: 250px;

                    input {
                        border-radius: 23px;
                        border: 1px solid #c4c4c4;
                        background-color: #ffffff;
                        width: 200px;
                        padding: 0;
                        padding-left: 50px;
                        display: flex;
                        align-items: center;
                        height: 45px;

                        &::placeholder {
                            color: #000000;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 27px;
                        }
                    }

                    i {
                        &.fa-calendar-o {
                            position: absolute;
                            top: 15px;
                            left: 20px;
                        }


                        &.fa-angle-down {
                            position: absolute;
                            top: 15px;
                            right: 20px;
                        }
                    }
                }
            }

            .days {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                .border_day {
                    p {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 40px;
                        border-radius: 23px;
                        border: 1px solid #c4c4c4;
                        background-color: #ffffff;
                        height: 45px;
                        padding: 0 40px;
                        width: max-content;
                        cursor: pointer;
                    }
                }
            }

            .day_work {
                width: 70%;

                .check {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                }

                #ch_user_anketa {
                    padding: 0;
                }
            }

            .time {
                margin-top: 15px;

                p {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                .input {
                    display: grid;
                    grid-template-columns: 170px 170px;

                    .input_cop_1 {
                        display: flex;
                        align-items: center;
                        height: 45px;

                        p {
                            margin-right: 20px;
                        }

                        input {
                            border-radius: 23px;
                            border: 1px solid #c4c4c4;
                            background-color: #ffffff;
                            width: 100px;
                            padding: 0;
                            height: 45px;
                            padding-left: 20px;
                        }
                    }
                }
            }

            .dbl_button {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 40%;
                justify-content: center;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                margin-top: 40px;
                margin: 20px;

                .button_blue {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

#new_class {
    padding-bottom: 100px;

    .class {
        .text {
            margin-top: 40px;
            margin-bottom: 30px;

            p {
                color: #858585;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 15px;

                span {
                    color: #000000;
                }
            }

            h3 {
                color: #000000;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
            }
        }

        .card {
            padding: 35px;

            .text {
                margin: 0;

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    margin-bottom: 10px;
                }

                span {
                    color: #606060;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 26px;
                }
            }

            .add {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 40px;
                    margin-bottom: 10px;
                }

                span {
                    color: #606060;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 27px;
                }
            }

            .tag {
                padding-top: 20px;

                .pink {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;

                    &.lighten-4 {
                        background: unset !important;
                        border-radius: 30px;
                        border: 1px solid #e8e8e8;
                        margin-bottom: 10px;
                    }
                }
            }

            .list {
                p {
                    margin-top: 10px;
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                }

                .list_c {
                    padding: 10px 20px;
                    border-radius: 15px;
                    border: 1px solid #e8e8e8;
                    background-color: #ffffff;
                    width: 25%;

                    p {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 36px;
                        margin: 0;
                    }
                }
            }

            .dbl-button {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 40%;
                justify-content: center;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                margin-top: 40px;

                .button_blue {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

#course {
    padding-bottom: 100px;

    #admin_room {
        padding: 0;

        table {
            margin: 0 30px;
            border: 0;

            .activ_user {
                border-top: 3px solid #00aeef;
                border-bottom: 3px solid #00aeef;
                background: #f2fbfe;
            }
        }

        thead {
            tr {
                th {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 500;
                    border: 0;
                    border-bottom: 1px solid #c4c4c4;
                    line-height: 25px;
                }

                th:nth-child(3) {
                    color: #00aeef;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
        }

        tbody {
            tr {

                th {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    border: 0;
                    border-bottom: 1px solid #c4c4c4;
                }

                td {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    border: 0;
                    border-bottom: 1px solid #c4c4c4;
                }

                td:nth-child(2) {
                    color: #636363;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }

                td:nth-child(5) {
                    color: #636363;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    #ch_tutorial {
        .card {
            .colc {
                grid-template-columns: 2fr 5fr;

            }

            .data {
                .number {
                    display: block;

                    p {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 26px;
                        margin-bottom: 20px;
                    }

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }

            .text {
                .pos_c1 {
                    .text_left {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 65%;

                        p {
                            color: #606060;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                        }

                        span {
                            color: #000000;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }

                .pos_c2 {
                    p {
                        color: #606060;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                    }

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 26px;
                    }
                }
            }
        }

        .text_center {
            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
    }

    .cours {
        .text {
            margin-top: 40px;
            margin-bottom: 30px;

            p {
                color: #858585;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;

                span {
                    color: #000000;
                }
            }
        }
    }
}

#admin_room {

    &.admin_class {
        .text {
            .button_blue {
                a {
                    color: #fff;
                }
            }
        }

        .card {
            table {
                thead {
                    tr {
                        th {
                            color: #858585 !important;
                            font-family: Montserrat;
                            font-size: 13px !important;
                            font-weight: 500;
                        }

                        th:nth-child(3) {
                            color: #00aeef !important;
                        }
                    }
                }

                tr {
                    th:nth-child(1) {
                        width: 17%;
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    th:nth-child(2) {
                        width: 66%;
                        color: #636363;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;

                        span {
                            color: #636363;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 600;
                            float: right
                        }
                    }

                    th:nth-child(3) {
                        width: 17%;
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        padding-left: 35px;
                    }
                }
            }
        }
    }

    padding-bottom: 100px;

    .room {
        .text {
            @extend.global_text;

            display: flex;
            justify-content: space-between;

            .dbl_button {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;

                .button_blue {
                    a {
                        color: #fff;
                    }
                }

                .button_red {
                    color: #ffffff;

                    border-radius: 23px;
                    background: #df405b;
                    width: 180px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border: 2px solid #df405b;
                    transition: all .3s;

                    &:hover {
                        background: #fff;
                        border: 2px solid #df405b;

                        a {
                            color: #df405b !important;
                        }
                    }

                    img {
                        margin-right: 10px;
                    }

                    a {
                        color: #fff;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 27px;
                    }
                }
            }
        }

        .card {
            padding: 0 30px;

            table {
                border: 0  !important;
                margin: 0 !important;

                tbody {
                    tr {
                        &.activ_user {
                            border-top: 3px solid #00aeef;
                            border-bottom: 3px solid #00aeef;
                            background: #f2fbfe;
                        }

                        &.activ {
                            background: #f2fbfe;
                        }

                        th {
                            color: #000000;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 25px;
                            width: 22%;
                        }

                        td:nth-child(2) {
                            color: #636363;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                        }

                        td:nth-child(3) {
                            color: #000000;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                        }

                        td:nth-child(4) {
                            color: #000000;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                        }

                        td:nth-child(5) {
                            color: #636363;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }

                thead {
                    tr {
                        th {
                            color: #858585;
                            font-family: Montserrat;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 25px
                        }

                        th:nth-child(3) {
                            color: #00aeef;
                            font-family: Montserrat;
                            font-size: 13px;
                            font-weight: 500;
                        }
                    }
                }

                th:nth-child(4) {
                    width: 22%;
                }

                th {
                    width: 20%;
                    height: 20px;
                    position: relative;
                    border: 0;
                    border-bottom: 1px solid #c4c4c4;
                }

                td {
                    border: 0;
                    border-bottom: 1px solid #c4c4c4;
                }

            }
        }
    }
}